/* Basic styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }
  body {
    font-family: 'Poppins', sans-serif;

    font-size: 16px;
  }
  nav {
    background: #fff;
    padding: 0 15px;
  }
  .menu > .item a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
  }

  .menu > .has-submenu .submenu .subitem a {
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 500;
  }

  .logo_container {
    filter: drop-shadow(0px 3.10256px 25.8547px rgba(206, 158, 158, 0.2));
    align-self: flex-start;
    max-width: 110px;
}

.logo_container img {
    width: 100%;
}
  .menu,
  .submenu {
    list-style-type: none;
  }
  .logo {
    font-size: 20px;
  }
  .item {
    position: relative;
  }
  .item.button {
    padding: 9px 5px;
  }
  .item:not(.button) a:hover,
  .item a:hover::after {
    color: #ccc;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .menu .main_menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #363636;
    font-weight: 600;
  }

  .menu .main_menu li a:focus {
    color: #363636;
  }

  .menu_active span {
    color: #F27428!important;
  }

  .menu .main_menu .item.has-submenu a {
    display: flex;
    justify-content: space-between;
  }

  .menu .main_menu .item.has-submenu a span {
    color: #363636;
  }
  
  .menu li.subitem a {
    padding: 5px 15px;
    font-weight: 500;
  }
  .toggle {
    order: 1;
    font-size: 20px;
  }
  .item.button {
    order: 2;
  }
  .item {
    order: 3;
    width: 100%;
    text-align: left;
    display: none;

  }

  .item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
  }

  .active .item {
    display: block;
  }
  .button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
  }
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  .submenu-active .submenu {
    display: block;
    padding-bottom: 1rem;
    padding-left: 1rem;
    min-width: 20rem;
    max-height: 100rem;
    transition: all .5s ease;
  }
  .submenu {
    max-height: 0;
    transition: all .5s ease-out;
  }
  .has-submenu i {
    font-size: 12px;
  }

  .has-submenu a img {
    margin-left: 0.6rem;
  }
  /* .has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: '\f078';
    color: #fff;
    padding-left: 5px;
  } */
  .subitem a {
    padding: 10px 15px;
  }
  .submenu-active {
    background-color: white;
    border-radius: 3px;
  }

  

  .menu_icon {
    max-width: 25px;
  }

  .menu_icon img {
    width: 100%;
  }

  .subitem a {
    padding: 0;
  }

  .main_menu {
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    left: 0;
    background-color: white;
    max-height: 0;
    transition: all .6s ease;
}

.menu.active .main_menu {
    padding: 1rem;
}

.menu.active .main_menu {
    max-height: 100rem;

}

.mob {
    display: block;
}

  /* .menu_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


  
  /* Tablet menu */
  @media all and (min-width: 700px) {
    .menu {
      justify-content: center;
    }

    /* .main_menu {
        display: flex;
        position: unset;
        justify-content: center;
    } */
    .main_menu {
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        left: 0;
        max-height: 0;
        transition: all .6s ease;
    }

    .menu.active .main_menu {
        max-height: 100rem;
        transition: all 1s ease;
    }
    
    .logo {
      flex: 1;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    /* Button up from tablet screen */
    .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
    }
    .button a {
      background: #0080ff;
      border: 1px royalblue solid;
    }
    .button.secondary {
      border: 0;
    }
    .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 960px) {
    .menu {
      align-items: flex-start;
      flex-wrap: nowrap;
      background: none;
      align-items: center;
    }

   

    .mob {
        display: none;
    }
    

    .main_menu {
        display: flex;
        position: unset;
        justify-content: center;
        max-height: unset;

    }
   
    .logo {
      order: 0;
    }
    .item {
      order: 1;
      position: relative;
      display: block;
      width: auto;
    }

    
    .button {
      order: 2;
    }
    .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 80px;
      background: white;
      color: #000;
      padding: 20px;
      box-shadow: rgb(0 0 0 / 40%) 1px 3px 5px 0;
      border-radius: 10px;
      
    }

    .item::after {
        content: none;
    }
    .toggle {
      display: none;
    }
    .submenu-active {
      border-radius: 0;
    }
  }
  